#title{
  background-color:#ff4c68;
  color: #fff;
}
h1{
  font-family:"Ubuntu";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
h2{

  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  /* font-family:"Montserrat-Black"; */
  font-weight:900;
}
.container-fluid{
  padding:3% 15% 10%;
}
 .rotate30 {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
}
p{
  color: #8f8f8f;
}
body{
  font-family: "Montserrat";
  font-weight:400;
}
/* Navigation Bar */
.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

.navbar-brand{
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

.title-img{
  width:60%;
  position:absolute;
}
/* features */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position:relative;

}
.feature-box{
  text-align:center;
  padding: 4.5%;
}
.icon{
  color:#ef8172;
  margin: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
/* testimonials */
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color:#fff;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
#press{

  text-align: center;
  background-color: #ef8172;
  color:#fff;
  padding-bottom: 3%;

}
.press-logo{
  width:15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
/* pricing */
#pricing{
  padding:100px;
  text-align:center;
}
.pricing-column{
  padding: 3% 2%;
}
#cta{
  background-color: #ff4c68;
  color:#fff;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 3.5rem;

  line-height: 1.5;
}
/* Footer */
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon{
  margin:20px 10px;
}
@media (max-width:1200px){
  .title-image{
    position: static;
    transform: rotate(0);

  }
  #title{
    text-align: center;
  }
}
